BOT_TOKEN=

DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=

REDIS_HOST=redis
REDIS_PORT=6379

ADMIN_USERNAMES=

YANDEX_SHEETS_TOKEN=
YANDEX_SHEETS_FILE_PATH=disk:/analytics/feedback_export.xlsx
YANDEX_SHEETS_SHEET_NAME=feedback_export
YANDEX_SHEETS_BASE_URL=https://cloud-api.yandex.net/v1/disk
YANDEX_SHEETS_TIMEOUT_SECONDS=30
